<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FYP PROPOSAL DEFENCE </title>
</head>
<body style="background-color: lightblue">
<form action="#" method="post">
    <table border="1">
        <tr>
            <th colspan="3">
    <p> Semster: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="semester" size="4"> </input> </p>
            </th>
            </tr>
        <tr>
            <th colspan="3">
    <p> Project Code: <input type="text" name="proj-code" size="4"> </input> </p>
            </th>
            </tr>
        <tr> <th colspan="3">
    <p> Title of the Project: <input type="text" name="proj-title" size="8"> </input> </p>
            </th>
        </tr>
            <tr><th colspan="3">
    <p> Supervisor Name: <input type="text" name="sup-name" size="8"> </input> </p>
            </th></tr>
        <tr>
            <th width="20px"> S# </th>
            <th width="200px"> Student(s) Name</th>
            <th width="200px"> Registration Number</th>
        </tr>
        <tr>
            <th width="20px"> 1 </th>
            <th > <input type="text" name="stu-1-name" > </input> </th>
            <th > <input type="text" name="stu-1-reg" > </input> </th>
        </tr>
         <tr>
            <th width="20px"> 2 </th>
            <th > <input type="text" name="stu-2-name" > </input> </th>
            <th > <input type="text" name="stu-2-reg" > </input> </th>
        </tr>
         <tr>
            <th width="20px"> 3 </th>
            <th > <input type="text" name="stu-3-name" > </input> </th>
            <th > <input type="text" name="stu-3-reg" > </input> </th>
        </tr>
        <tr>
            <th colspan="3"> EVALUATION CRITERIA</th>

        </tr>
        <tr>
            <th colspan="1"  width="100px"> </th>
            <th colspan="1"> EVA 1 Marks (1.0, 0.8, 0.6, 0.4, 0.2) </th>
            <th colspan="1"> EVA 2 Marks (1.0, 0.8, 0.6, 0.4, 0.2) </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> Introduction & Background </th>
            <th colspan="1"> <input type="text" name="h1-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h1-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> Literature Review </th>
            <th colspan="1"> <input type="text" name="h2-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h2-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> Problem Statement </th>
            <th colspan="1"> <input type="text" name="h3-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h3-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> Scope of the Project </th>
            <th colspan="1"> <input type="text" name="h4-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h4-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> Project Objectives </th>
            <th colspan="1"> <input type="text" name="h5-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h5-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> Methodology/Framework </th>
            <th colspan="1"> <input type="text" name="h6-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h6-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> Gantt Chart </th>
            <th colspan="1"> <input type="text" name="h7-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h7-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> Tools and Languages </th>
            <th colspan="1"> <input type="text" name="h8-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h8-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> Conclusion (Expected outcome(s)) </th>
            <th colspan="1"> <input type="text" name="h9-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h9-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="1"  width="100px"> References </th>
            <th colspan="1"> <input type="text" name="h10-e1-marks"> </input> </th>
            <th colspan="1"> <input type="text" name="h10-e2-marks"> </input> </th>
        </tr>
        <tr>
            <th colspan="3"> REMARKS </th>
        </tr>
        <tr>
            <th colspan="3"> <input type="text" size="100" name="remarks"> </input> </th>
        </tr>



    </table>
    <p><input type="submit" value="submit"> </input> </p>
</form>

</body>
</html>